

@screenSizeX: 1280px;
@screenSizeY: 680px;
@pageOrientation: 1; // 1 - landscape; 2 - portrait


@imagePath: "images/";
@imageBackSmall: "@{imagePath}back_small.png";
@imageLoading: "@{imagePath}loading.gif";




//- page size to portrait
.initPageOrientation(@v) when (@v = 2) { max-width: @screenSizeY; }
//- app screen to portrait
.initAppOrientation(@v) when (@v = 2) { max-width: @screenSizeY; max-height: @screenSizeX;}
//- main logic screen to portrait
.initMainLogicOrientation(@v) when (@v = 2) { min-height: @screenSizeX / 2; }

.pageSize {
    max-width: @screenSizeX;
    .initPageOrientation(@pageOrientation);
}
.appSize {
    max-width: @screenSizeX; 
    max-height: @screenSizeY;
    .initAppOrientation(@pageOrientation);
}
.actionPanelSize {
    min-height: @screenSizeY / 2;
    .initMainLogicOrientation(@pageOrientation);
}


/********************
*
*     helpers
*
*******************/
.roundBorder4 { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.roundBorder6 { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.roundBorder8 { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.middle-vert { margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }


/********************
*
*     системные
*
*******************/
// Вьюшка без рендера
.ViewErrorBlock { margin: 2px; padding: 4px; text-align: center; font-weight: bold; color: #801111; background-color: #F2DFDF; border: 1px dashed #801111;}
// Не найдена активная Вьюшка
.ActiveViewError {margin: 2px; padding: 4px; text-align: center; font-weight: bold; color: #801111; background-color: #F2DFDF; border: 1px dashed #801111;}

/********************
*
*     приложение
*
*******************/
// обертка всего приложения
.AppWrapper { .pageSize; margin: 0 auto; padding: 0px; font: 400 14px 'MyriadPro_Cond', sans-serif; color: #000;}
// описание приложения
.AppDesc { margin: 0 0 20px 0; padding: 8px 12px; font-size: 10px; border: 1px dashed #aaa; .roundBorder4; background-color: #D5EDF5;}
// в разработке
.MainDomNotYet { padding: 8px 12px; text-align: center; color:#801111; border: 1px dashed #AD1717; .roundBorder4; background-color: #F2DFDF;}
// логи
.LogPanel { overflow: hidden;margin: 10px 0; padding: 4px 12px; border: 1px dashed #aaa; .roundBorder4; background-color: #EBF0DD; color: #111; font-size: 10px; }

/********************
*
*   основная часть приложения
*
*******************/
// основная часть приложения
.MainPanel { .appSize; margin: 0; padding: 0; position: relative; border: 1px dashed #aaa; .roundBorder4; }


// загрузка
.LoadingPanel { width: 100%; height: 100%; z-index: 999; position: absolute; background: url("@{imageBackSmall}") repeat transparent; }
.LoadingPanel .Content {.middle-vert; width: 240px; height: 200px; text-align: center;}
.LoadingPanel .Content .Pic {  background: url("@{imageLoading}") repeat transparent; width: 120px; height: 120px; margin: 0 auto;}
.LoadingPanel .Content .Title {}

//
// навигация (отображается вверху)
//
.NavigationPanel { padding: 6px; background-color:#EBEBEB; border-top: 1px solid #EBEBEB; border-bottom: 1px solid #DEDEDE; clear: both;overflow: hidden;}
.NavigationPanel .Button {float: left; margin: 6px; padding: 4px;text-align: center; cursor: pointer; color: #2B6499; border: 1px solid transparent;}
.NavigationPanel .Button:hover {color: #042B4F;}
.NavigationPanel .Button.Active {color: #042B4F; cursor: default; border: 1px solid #042B4F; .roundBorder4; }

//
// управление (отображается внизу приложения)
//
.ControlPanel { margin:0; padding: 4px; background-color:#EBEBEB; border-top: 1px solid #EBEBEB; border-bottom: 1px solid #DEDEDE; clear: both;overflow: hidden;}
.ControlPanel .Buttons {}
.ControlPanel .Buttons .Button {float: left; margin: 6px; padding: 6px;text-align: center; border: 1px solid #da0; cursor: pointer; background-color: #da1;color: #fff;}
.ControlPanel .Buttons .Button:hover {background-color: #d81;}

//
// основная часть приложения (центральная часть)
//
.ActionPanel { .actionPanelSize; clear: both; overflow: hidden; }



//
// Расходы/доходы активная панель
//
.TransactionActive {
    overflow: hidden;

    // список с платежками
    .LinesPlace {
        

        .TransactionLine { 
            display: block; margin: 5px; padding: 8px; border: 1px solid #aaa; color: #333; .roundBorder4; clear: both; overflow: hidden;

            .Date { color:#444; display: block; float: left; margin: 0 0 0 5px; font-size: 0.8em;}
            .Time { color:#888; font-style: italic; display: block; float: left; margin: 0 0 0 5px; font-size: 0.75em;}
            .Title { font-weight: bold; color:#000; display: block; float: left; margin: 0 0 0 5px;}
        }
    }
}


//
// Счета
//
.AccountActive {
    overflow: hidden;

    // список со счетами
    .LinesPlace {
        

        .AccountLine { 
            display: block; margin: 5px; padding: 8px; border: 1px solid #aaa; color: #333; .roundBorder4;
        }
    }
}
























