

@screenSizeX: 1280px;
@screenSizeY: 680px;
@pageOrientation: 1; // 1 - landscape; 2 - portrait



//- page size to portrait
.initPageOrientation(@v) when (@v = 2) { max-width: @screenSizeY; }
//- app screen to portrait
.initAppOrientation(@v) when (@v = 2) { width: @screenSizeY; height: @screenSizeX; }


.pageSize {
    max-width: @screenSizeX;
    .initPageOrientation(@pageOrientation);
}
.appSize {
    width: @screenSizeX; 
    height: @screenSizeY;
    .initAppOrientation(@pageOrientation);
}





/********************
*
*     helpers
*
*******************/
.roundBorder4 { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.roundBorder6 { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.roundBorder8 { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }




/********************
*
*     системные
*
*******************/

// Вьюшка без рендера
.ViewErrorBlock { margin: 2px; padding: 4px; text-align: center; font-weight: bold; color: #801111; background-color: #F2DFDF; border: 1px dashed #801111;}



/********************
*
*     приложение
*
*******************/

// обертка всего приложения
.AppWrapper { .pageSize; margin: 0 auto; padding: 0px; font: 400 14px 'MyriadPro_Cond', sans-serif; color: #000;}
// описание приложения
.AppDesc { margin: 0 0 20px 0; padding: 8px 12px; font-size: 10px; border: 1px dashed #aaa; .roundBorder4; background-color: #D5EDF5;}
// в разработке
.MainDomNotYet { padding: 8px 12px; text-align: center; color:#801111; border: 1px dashed #AD1717; .roundBorder4; background-color: #F2DFDF;}
// логи
.LogPanel {overflow: hidden;margin: 10px 0; padding: 4px 12px; border: 1px dashed #aaa; .roundBorder4; background-color: #EBF0DD; color: #111; font-size: 10px;}


/********************
*
*   основная часть приложения
*
*******************/


// основная часть приложения
.MainPanel { .appSize; margin: 0; padding: 0; border: 1px dashed #aaa; .roundBorder4;}


// основные кнопки
.ControlPanel {margin:5px 0; padding: 4px; border-top: 2px solid #ddd; clear: both;overflow: hidden;}
.ControlPanel .Buttons {}
.ControlPanel .Buttons .Button {float: left; margin: 6px; padding: 6px;text-align: center; border: 1px solid #da0; cursor: pointer; background-color: #da1;color: #fff;}
.ControlPanel .Buttons .Button:hover {background-color: #d81;}



















